<br>
<br>
<br><br>
<br>
<div class="footer">
    <div class="footer-main">
      callisto is a simple platform that makes it really easy for you to make beautiful and memorable movements of your life .
    </div>
    <div class="footer-navigate">
      <div class="nav">
        <h5>Marketplace</h5>
        <p>Home</p>
        <p>Activity</p>
        <p>Discover</p>
        <p>Learn more</p>
      </div>
      <div class="nav">
        <h5>Company</h5>
        <p>About Us</p>
        <p>Services</p>
        <p>Portfolio</p>
      </div>
      <div class="nav">
        <h5>Contact</h5>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Twitter</p>
        <p>Email</p>
      </div>
    </div>
  </div>