<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/userlist/style.css"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="landingpage">
      <div class="navbar">
        <a class="navlogo">CALLISTO</a>
        <button class="hamburger">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
              <path d="M3 12h18M3 6h18M3 18h18"/>
            </svg>
          </button>
        <div class="navlinkwrap">
          <span class="navlink"><a href="https://callistox.herokuapp.com/home">Home</a></span>
           <span class="navlink"><a href="https://callistox.herokuapp.com/myprofile">My Profile</a></span>
          <span class="navlink">Activity</span>
          <span class="navlink"><a href="https://callistox.herokuapp.com/admin/addevent">Add Event</a></span>
        </div>
        <div class="buttonwrap">
          <a href="https://callistox.herokuapp.com/logout">
            <button class="createbtn selectedbtn">SIGN OUT</button>
          </a>
        </div>
      </div>

      
<div class="container">
    <div class="row">
      <div class="search">
        <input type="search" data-search="data-search" placeholder="Search..."/>
        <button class="search__clear">&times;</button>
        <div class="recent-search">
          <button class="clear-btn" disabled="disabled" onclick="clearRecent()">No Recent Items</button>
          <div class="recent-search__list"></div>
        </div>
      </div>
      <div class="list" id="list" data-searchable="data-searchable"></div>
    </div>
  </div>

   <div class="footer2">
    <div></div>
    <p>Copyright 2021 Callisto</p>
  </div>
</div>
    <script>
      var eventid ="<%= eventid %>";
    </script>
    <script src="/static/userlist/script.js"></script>
  </body>
</html>